@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth scrollbar-hide;
    color-scheme: dark;
  }

  body {
    @apply flex min-h-screen flex-col overflow-x-hidden bg-dark-500 font-sans text-white selection:bg-indigo-400 selection:text-white;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center font-bold tracking-tight transition-colors duration-200 ease-in;
  }

  .btn-underlined {
    @apply relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:translate-y-1 after:bg-gray-200 after:opacity-0 after:transition after:duration-200 after:ease-in-out hover:after:translate-y-0 hover:after:opacity-100;
  }
}
